.titulo-principal__numero span 
  color: white !important

.imgs-flotantes
  position: relative
.imgs-flotantes img.img-flotante
  animation: float2 3.5s ease-in-out infinite alternate
  position: absolute
  top: 50%
  left: 65%
  width: 140px
  @media (max-width: 20px)
    width: 100px
    left: 1%
@keyframes float2
  0%
    transform: translatey(15px)
  100%
    transform: translatey(0px) 
    
.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto     

.blue-p
  background-color:  #5263E2

.green-p
  background-color:  #43A99B

.col-color1
  background-color: #DFF7FA 
  padding-top: 2px
  border-radius: 5px 

.lista-ol--cuadro__vineta
  min-width: 30px
  height: 30px
  border-radius: 5px
.lista-ol--cuadro__vineta span
  color: $color-sistema-texto
  font-weight: bold 

.cajon.color-primario
  background-color: #FFFAD8   

.slyder-a__bullets
  z-index: -1
  
.bg-slyder
  background-color: #F6F6F6  
  border-radius: 10px    

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  border: 3px solid #12263F  

.bg-modal
  box-shadow: 0px 1px 1px 1px #707070 
  border-radius: 10px 

.bg-modal-p
  background-color: #6C8CE9

.bg-modal-p1
  background-color: #FED981 

.imgs-flotantes1
  position: relative
.imgs-flotantes1 img.img-flotante1
  animation: float1 3.5s ease-in-out infinite alternate
  position: absolute
  top: 72%
  left: 20%
  width: 140px
  @media (max-width: 20px)
    width: 100px
    left: 1%
@keyframes float1
  0%
    transform: translatex(25px)
  100%
    transform: translatex(0px)   

.imgs-flotantes2
  position: relative
.imgs-flotantes2 img.img-flotante2
  animation: float1 3.5s ease-in-out infinite alternate
  position: absolute
  top: 79%
  left: 20%
  width: 140px
  @media (max-width: 20px)
    width: 100px
    left: 1%
@keyframes float1
  0%
    transform: translatex(25px)
  100%
    transform: translatex(0px)     

.up
  z-index: 5    
.bg-gradi
  background-image: url('../assets/curso/temas/img24.jpg')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center     

.bg-slyder1
  background-color: #FFFFFF  

.color-fondo-text
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    top: 88%
    bottom: 0
    left: 13%
    right: 13%
  &__texto
    position: relative
  &.bg-color
    &:before
      margin-bottom: -1em 
      background-color: #E2F4F6 

.color-fondo-text1
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    top: 88%
    bottom: 0
    left: 13%
    right: 13%
  &__texto
    position: relative
  &.bg-color
    &:before
      margin-bottom: -1em 
      background-color: #E2F4F6 

.color-fondo-text2
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    top: 79%
    bottom: 0
    left: 5%
    right: 25%
  &__texto
    position: relative
  &.bg-color
    &:before
      margin-bottom: -1em 
      background-color: #E2F4F6 

.color-fondo-text3
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    top: 70%
    bottom: 0
    left: 5%
    right: 25%
  &__texto
    position: relative
  &.bg-color
    &:before
      background-color: #E2F4F6 

.color-fondo-text4
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    top: 80%
    bottom: 0
    left: 16%
    right: 10%
  &__texto
    position: relative
  &.bg-color
    &:before
      margin-bottom: -8px
      background-color: #E2F4F6                         

.color-fondo-text5
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    top: 81%
    bottom: 0
    left: 15%
    right: 5%
  &__texto
    position: relative
  &.bg-color
    &:before
      margin-bottom: -3px
      background-color: #E2F4F6       